
{% if is_async %}
/**
 * @brief {{ method_description | replace('\n', '\n *')}}
 */
void {{ name.lower_snake_case }}_async({% for param in params %}{{ param.type_info.name }} {{ param.name.lower_snake_case }}, {% endfor %}const {{ plugin_name.upper_camel_case }}::{{ name.upper_camel_case }}Callback& callback);
{% endif %}

{% if is_sync %}
/**
 * @brief Poll for '{{ return_type.name }}' (blocking).
 *
 * @return One {{ return_type.name }} update.
 */
{% if return_type.is_repeated %}std::vector<{{ plugin_name.upper_camel_case }}::{{ return_type.inner_name }}>{% else %}{{ plugin_name.upper_camel_case }}::{{ return_type.name }}{% endif %} {{ name.lower_snake_case }}({% for param in params %}{{ param.type_info.name }} {{ param.name.lower_snake_case }}{% if not loop.last %}, {% endif %}{% endfor %}) const;
{% endif %}
