#include "{{ plugin_name.lower_snake_case }}_impl.h"

namespace mavcam {

{{ plugin_name.upper_camel_case }}Impl::{{ plugin_name.upper_camel_case }}Impl() 
{
}

{{ plugin_name.upper_camel_case }}Impl::~{{ plugin_name.upper_camel_case }}Impl()
{
}

{% for method in methods %}
{{ method }}
{% endfor %}

} // namespace mavcam
